section{
    display: flex;
    gap:10px;
    cursor: pointer;
}
article{
    position: relative;
    overflow: hidden;
    background: #fff;
    width:64px;
    height: 500px;
    border-radius: 36px;
    display: flex;
    align-items: flex-end;
    opacity: 0.9;
    transition: 0.5s;
}
h2, p{
    margin: 0;
}
article.active{
width: 400px;
opacity: 1;
}
